extends ./layout.jade
block indexPrincipal
    .rerun
      a(href='/')
    .container
      .card
      .card
        h1.title Cuenta Izigame
        form(action="/users" method="POST")
          .input-container
            input(type='text', name="email",id="email",required='required')
            label(for='email')  E-mail / Username"
            .bar
          .input-container
            input(type='password',name="password",id="password",required='required')
            label(for='password') Contraseña
            .bar
          .button-container
            button
              span accede
          .footer
            a(href='#') ¿Has olvidado tu contraseña?
      .card.alt
        .toggle
        h1.title
          | Registrate
          .close
        form
          .input-container
            input(type='#{type}', id='#{label}', required='required')
            label(for='#{label}') Username
            .bar
          .input-container
            input(type='#{type}', id='#{label}', required='required')
            label(for='#{label}') Contraseña
            .bar
          .input-container
            input(type='#{type}', id='#{label}', required='required')
            label(for='#{label}') Tu contraseña nuevamente
            .bar
          .button-container
            button
              span Siguiente
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='js/index.js')